@import "tailwindcss";

:root {
  --background: #fff9ed;
  --foreground: #392806;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1a1711;
    --foreground: #e3dbcb;
  }
}

#header-title-primary {
  font-family: var(--font-zenLoop);
  font-size: 5rem;
  color: #ffffff;
}

#header-title-secondary {
  font-family: var(--font-singleDay);
  font-size: 1.6rem;
  vertical-align: top;
  color: #ffffff;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-glory);
  font-size: 1rem;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.6rem;
}

h3 {
  font-size: 1.5rem;
}
